Q1

In [3]:
import pandas as pd

pd.__version__

'2.3.1'

In [6]:
df = pd.read_csv("car_fuel_efficiency.csv")

In [7]:
df.shape

(9704, 11)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9704 entries, 0 to 9703
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   engine_displacement  9704 non-null   int64
 1   num_cylinders        9222 non-null   float64
 2   horsepower           8996 non-null   float64
 3   vehicle_weight       9704 non-null   float64
 4   acceleration         8774 non-null   float64
 5   model_year           9704 non-null   int64
 6   origin               9704 non-null   object
 7   fuel_type            9704 non-null   object
 8   drivetrain           9704 non-null   object
 9   num_doors            9202 non-null   float64
 10  fuel_efficiency_mpg  9704 non-null   float64
dtypes: float64(6), int64(2), object(3)
memory usage: 834.1+ KB

In [10]:
df['fuel_type'].value_counts()

fuel_type
Gasoline    4898
Diesel      4806
Name: count, dtype: int64

In [15]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [16]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [18]:
df.groupby("origin")["fuel_efficiency_mpg"].describe()

,count,mean,std,min,25%,50%,75%,max
origin,,,,,,,,
Asia,3247.0,14.973830,2.578345,6.886245,13.252010,15.034670,16.726318,23.759123
Europe,3254.0,14.942532,2.551837,6.200971,13.169835,14.962172,16.673247,25.967222
USA,3203.0,15.040204,2.538652,6.695483,13.413632,14.999042,16.712051,24.971452

In [20]:
df["horsepower"].median()

np.float64(149.0)

In [29]:
fr = df["horsepower"].mode()[0]

In [30]:
fr

np.float64(152.0)

In [31]:
df["horsepower"] = df["horsepower"].fillna(fr)

In [32]:
df["horsepower"].median()

np.float64(152.0)

In [33]:
df["horsepower"].isnull().sum()

np.int64(0)